body{
    font-family:arial;
    font:18px;
}

#body{
    position:relative;
    margin-top:40px;
}

#order{
    font-size:20px;
}
.headerwidget{
    background-color:#EB1929;
    color:#FFFFFF;
}
.sixteen wide column{
   background-color:#EB1929;
   color:#FFFFFF;
}
#title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
}
.notes{
    text-align:center;
    padding:10px;
}
.text{
    font:bold;
    font-size:26px;
    position:relative;
}
.ui.two.column.page.centered{
   border: 1px solid #E8E8E8;
}
.ui.fluid.form.segment {
border: 1px solid #E8E8E8;
margin-top: 35px;
margin-bottom:35px;
}

hr{
    color:#E8E8E8;
}
img{
    max-width:100%;
    height:auto;
}