<h3 class="ui center aligned header">今日送餐概况</h3>
<div class="ui segment">
    <% _.each(ordersByLocations, function(location) { %>
    <div class="ui vertical segment">
        <a href="#" class="delivery-order">
            <div class="ui column grid summary-list">
                <div class="four wide right aligned column"><span class="summary-location"><%= Object.keys(location)[0] %></span>:</span>
                </div>
                <div class="five wide column right aligned"><span class="summary-status">A餐:&nbsp<%= dishQuantity3 %>,&nbspB餐:&nbsp<%= comboQuantity3 %></span>
                </div>
                <div class="two wide column right aligned"><span class="summary-status"><i class="angle red right icon"></i></span>
                </div>
            </div>
        </a>
    </div>
    <% })%>
</div>
<div class="ui divider"></div>
<div class="gray left aligned sixteen wide column">
    注：A餐为当日便当，B餐为凉皮+肉夹馍
</div>
