<h3 class="ui center aligned header">今日送餐概况</h3>
<div class="ui segment">
    <% _.map(ordersByLocations, function(pair) { %>
    <div class="ui vertical segment">
        <a href="#" class="delivery-order">
            <div class="ui column grid summary-list">
                <div class="four wide right aligned column"><span class="summary-location"><%= pair[0] %>:</span></div>
                <div class="five wide column left aligned">
                    <span class="summary-status">
                        <% _.map(pair[1], function(orderDetailSet) { %>
                            Dish:&nbsp <%= orderDetailSet[0] %>, &nbsp&nbsp
                            Quantity:&nbsp <%= orderDetailSet[1] %>, &nbsp&nbsp
                            Subtotal:&nbsp <%= orderDetailSet[2] %> <br>
                        <% }) %>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <% })%>

</div>
<div class="ui divider"></div>
<div class="gray left aligned sixteen wide column">
    注：A餐为当日便当，B餐为凉皮+肉夹馍，C餐为当日经济便当
</div>
