<!-- login -->
<h3 id="reminder" class="ui center aligned header">大哥， 请登录您的账户！</h3>
<div class="ui hidden divider"></div>
<div id="loginInfo" class="ui centered grid">
	<div class="ten wide column">
		<form action="" method="POST" id="loginForm" class="ui form">
			<div class="two fields">
				<div class="required sixteen wide field">
					<div class="ui icon input">
						<input id="username" type="text" placeholder="请输入账号..." name="username" />
						<i class="user icon"></i>
					</div>
				</div>
				<div class="ui hidden divider"></div>
				<div class="required sixteen wide field">
					<div class="ui icon input">
						<input id="password" type="password" placeholder="请输入密码..." name="password" />
						<i class="lock icon"></i>
					</div>
				</div>
			</div>
			<div class="ui hidden divider"></div>
			<button id="loginBtn" type="submit" class="center aligned ui red button"><i class="sign in icon"></i>登&nbsp录</button>
		</form>
		<div class="error" style="display:none"></div>
	</div>
</div>