<h4 class="ui red top attached header">
  <i class="small food icon"></i>Manage Restaurants & Dishes
</h4>
<div class="ui attached segment">
  <div class="ui grid"> 
    <div class="eleven wide column">
      <div class="ui fluid search selection dropdown manage-restaurant-selection">
          <input type="hidden" name="restaurant">
          <i class="dropdown icon"></i>
        <div class="default text">Select a restaurant</div>
        <div class="menu">
            <% _.each(restaurants, function(restaurant) { %>
              <div class="item" data-value="<%= restaurant.id %>"><%= restaurant.get('name') %></div>
            <% }) %>
        </div>
      </div>
    </div>
    <div class="five wide column right aligned">
      <button class="circular ui icon small orange button toNewRestaurant">
        <i class="icon edit"></i>
      </button>
      <button class="circular ui icon small button">
        <i class="icon remove"></i>
      </button>
    </div>
  </div>
  <div class="ui middle very relaxed aligned divided list" id="dishList"></div>
</div>

<div class="ui bottom attached orange button toNewRestaurant">
  <i class="add icon"></i>
  Add a new restaurant
</div>
