<div class="ui page centered grid ">
	<div class="doubling four column row">
		<div class="left floated left aligned eight wide column">
			<p>
				<strong>无名大哥，<label id="buildingLabel"></label>有<label id="orderNumberLabel"></label>个订单<label id="searchResultLabel"></label></strong>
			</p>
		</div>
		<div class="right floated right aligned eight wide column">
			<!--<div id="addressoption" class="ui selection dropdown">-->
                <select id="addressOption" class="right floated right aligned eight wide column">
                    <option value="">所有订单</option>
                    <option value="RDPG">Regents Drive Parking Garage</option>
                    <option value="VM">Van Munching</option>
                </select>
				<!--<input type="hidden" name="address">-->
				<!--<div class="default">化学楼</div>-->
				<!--<i class="dropdown icon"></i>-->
				<!--<select class="menu">-->
					<!--<option class="item" data-value="CP">College Park,MD</option>-->
					<!--<option class="item" data-value="SG">Shady Grove,MD</option>-->
				<!--</select>-->
			<!--</div>-->
		</div>
	</div>

	<div class="sixteen wide column">
		<div class="ui fluid icon input">
			<input id="searchInput" type="text" placeholder="Search by last name...">
			<i class="search icon"></i>
		</div>
	</div>


	<div class="sixteen wide column">
		<div class="ui divided list">
            <div id="orderList">Loading....</div>
			<div class="ui divider"></div>
			<div class="left aligned sixteen wide column">
				注：A餐为当日便当，B餐为凉皮+肉夹馍
			</div>
		</div>
	</div>
	<div class="sixteen wide column">
		<button id="arriveBtn" class="center aligned ui toggle arrive button"><i class="volume down icon"></i>正在路上</button>
	</div>
</div>