
<h4 class="ui red top attached header">
    <i class="small food icon"></i>Manage Restaurants & Dishes
</h4>
<div class="ui attached segment">
    <div class="ui menu">
        <div class="ui dropdown fluid item">
            <div class="default text">Select a restaurant</div><i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" data-value="">Resaurant name 1</a>
                <a class="item" data-value="">Resaurant name 1</a>
            </div>
        </div>
    </div>

    <div class="ui middle very relaxed aligned list">
      <div class="item">
        <button class="circular ui fluid small orange basic button">
            <i class="icon plus"></i>
            Add a dish
          </button>
      </div>
        <div class="item">
            <div class="right floated content">
                <div class="ui mini basic buttons">
                    <div class="ui button">Edit</div>
                    <div class="ui button"><i class="remove circle outline icon"></i></div>
                </div>
            </div>
            <div class="content">
                <div class="header">Dish Name</div>
            </div>
        </div>
        <div class="item">
            <div class="right floated content">
                <div class="ui mini basic buttons">
                    <div class="ui button">Edit</div>
                    <div class="ui button"><i class="remove circle outline icon"></i></div>
                </div>
            </div>
            <div class="content">
                <div class="header">Dish Name 2</div>
            </div>
        </div>
        <div class="item">
            <div class="right floated content">
                <div class="ui mini basic buttons">
                    <div class="ui button">Edit</div>
                    <div class="ui button"><i class="remove circle outline icon"></i></div>
                </div>
            </div>
            <div class="content">
                <div class="header">Dish Name 3</div>
            </div>
        </div>
    </div>
</div>
<div class="ui bottom attached orange button" data-youtubeLink="" data-address="">
    <i class="add icon"></i>
    Add a new restaurant
</div>

