<div class="ui grid">
    <div class="doubling two column row dishes">
       <% _.each(dishes, function(dish) { %>
        <div class="column">
            <div class="ui card">
                <div class="image dimmable">
                    <img src="<%= dish.get('Image_File')._url %>">
                    <div class="ui dimmer">
                        <div class="dimmer-content">
                            <h2 class="ui inverted icon header">
                                <i class="check icon"></i>
                                Dish added!
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="eight wide column dish-desc">
                            <%= dish.get('dishName') %>
                        </div>
                        <div class="four wide column">
                            <div class="ui fluid input">
                                <input type="text" placeholder="Price">
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui fluid input">
                                <input type="text" placeholder="Qty">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="ui add-btn bottom attached button">
                    <i class="add icon"></i>
                    Add to Menu
                </div>  
            </div>
        </div>
    <% }) %> 
    </div>
    <div class="ui divider hidden"></div>
    <div class="ui divider hidden"></div>
</div>

<script>
    $('.add-btn').click(function(){
        $('.image')
                .dimmer('toggle')
        ;
    });
</script>