<h1 class="ui small center aligned header">Add a new manager</h1> 
<form class="ui form">
    <div class="field">
        <label>Name</label>
        <div class="two fields">
            <div class="field">
                <input type="text" name="shipping[first-name]" placeholder="First Name">
            </div>
            <div class="field">
                <input type="text" name="shipping[last-name]" placeholder="Last Name">
            </div>
        </div>
    </div>
    <div class="field">
        <label>Location</label>
        <select class="ui search dropdown">
            <option value="">Select manager's location</option>
            <option value="umd">University of Maryland</option>
            <option value="gwu">George Washington University</option>
        </select>
    </div>
    <div class="field">
        <label>E-mail</label>
        <input type="email" placeholder="joe@schmoe.com">
    </div>
    <div class="field">
        <label>Phone number</label>
        <input type="tel">
    </div>
</form>
<div class="ui divider hidden"></div><button class="center aligned ui red button save-manager-btn">Save this manager</button>
<div class="ui divider hidden"></div>
<button class="center aligned ui grey button" onclick="location.href='#managerList'">Cancel</button>

