<% _.each(payments, function(payment) { %>
<div id="div-<%= payment.orderNumber %>" class="order-detail ui padded grid">
    <div class="seven wide white column">
        <h4 class="ui header"><%= payment.lastName %>, <%= payment.firstName %> (<%= payment.telNum %>)</h4>
        <p>
            <span class="red"><%= payment.orderSummary %></span>
        </p>
    </div>
    <div class="seven wide white column">
        <p><span class="gray"><label class="orderListOrderNumber">订单号</label>:</span><span class="red"><%= payment.orderNumber %></span></p>
        <p><span class="gray"><label class="orderListTotal">金额</label>:</span><span class="red">$<%= payment.totalPrice %></span></p>
    </div>
    <a id="checkButton-<%= payment.orderNumber %>" class="send two wide white column" data-order="<%= payment.orderNumber %>" data-lname="<%= payment.lastName %>" data-fname="<%= payment.firstName %>" data-price="<%= payment.totalPrice %>">
        <i class="checkmark icon"></i>
    </a>
</div>
<div id="divider-<%= payment.orderNumber %>" class="ui hidden divider"></div>
<% })%>