<% _.each(orders, function(order) { %>
<div id="div-<%= order.id %>" class="order-detail ui padded grid">
    <div class="seven wide white column">
        <h4 class="ui header"><%= order.get('lname') %>, <%= order.get('fname') %> (<%= order.get('address') %>)</h4>
        <p><span class="gray">A餐:</span><span class="red"><%= order.get('quantity1') %></span><span class="gray">,</span><span class="gray">B餐:</span><span class="red"><%= order.get('quantity2') %></span>
        </p>
    </div>
    <div class="seven wide white column">
        <p><span class="gray">订单号:</span><span class="red"><%= order.id %></span>
        <p><span class="gray">金额:</span><span class="red">$<%= order.get('totalPrice') %></span>
    </div>
    <a id="checkButton-<%= order.id %>" class="send two wide white column" data-order="<%= order.id %>" data-lname="<%= order.get('lname') %>" data-fname="<%= order.get('fname') %>" data-price="<%= order.get('totalPrice') %>">
        <i class="checkmark icon"></i>
    </a>
</div>
<div id="divider-<%= order.id %>" class="ui hidden divider"></div>
<% }); 