<thead>
    <tr>
        <th class="four wide">Dish</th>
        <th class="three wide">Requested</th>
        <th class="three wide">Sold</th>
        <th class="three wide">I want more</th>
        <th class="three wide">Daily Income</th>
    </tr>
</thead>
<tbody>
<% if (inventories && inventories.length != 0) { %>
    <% _.each(inventories, function(inventory) { %>
        <tr>
            <td><%= inventory.get('dish').get('dishName') %></td>
            <td><%= inventory.get('preorderQuantity') %></td>
            <td><%= inventory.get("preorderQuantity") - inventory.get("currentQuantity") %></td>
            <% if (inventory.get('numberOfRequest')) { %>
                <td class="right aligned">
                    <%= inventory.get('numberOfRequest') %>
                </td>
            <% } else { %>
                <td class="right aligned">0</td>
            <% } %>
            <td>5<%= income.toFixed(2) %></td>
        </tr>
    <% })%>
<% } else { %>
    <tr>
        <td colspan="5" class="center aligned">No records.</td>
    </tr>
<% } %>
    <tr class="positive">
        <td colspan=3>Next Payment:<%= nextPaymentDate %></th>
        <td colspan=2>Amount:$<%= nextPaymentAmount %></th>
    </tr>
</tbody>
