<div id="logo">
<img id="img" alt="" src="../img/logo.png">
</div>
<div id="loginorsignup">
	<button id="signUpBtn" class="center aligned ui fluid red button" onclick = "location.href='#signupemail'">
		Create an Account</button>
	<div class="ui divider hidden"></div>
	<button id="loginBtn" class="center aligned ui fluid grey button">Login</button>
</div>
<div class="ui divider hidden"></div>
<div id="copyright"> <p class="small">Copyright © 2015 Lunch Brother LLC. All rights reserved.</p></div>

	<div id="accountPanel" class="ui right demo sidebar vertical menu overlay visible">
  <a class="item">
   
    Home
  </a>
  <a class="item">
 
    Topics
  </a>
  <a class="item">
   
    Friends
  </a>
  <a class="item">
    
    History
  </a>
  <a class="item">
   asd
  </a>
  <a class="item">
    <i class="chat icon"></i>
    Discussions
  </a>
  <a class="item">
    <i class="trophy icon"></i>
    Achievements
  </a>
  <a class="item">
    <i class="shop icon"></i>
    Store
  </a>
  <a class="item">
    <i class="settings icon"></i>
    Settings
  </a>
</div>
<script>
		$('#loginBtn').click(function() {
  .sidebar('toggle');
		});

		</script>