<div id="fullscreen">
  <img src="./img/map_lg.jpg">
</div>
<div class="ui segment">
   <div id="customerinfo" class="ui page centered grid">
  <div class="sixteen wide column">
    <div class="ui two grid">
      <div class="right aligned four wide column">
        取餐人：
      </div>
      <div class="left aligned four wide column">
      <%=fname %>&nbsp<%=lname %>
      </div>
    </div>
  </div>
  <div class="sixteen wide column">
    <div class="ui two grid">
      <div class="right aligned four wide column">
        E-mail：
      </div>
      <div class="left aligned four wide column">
        <%=email %>
      </div>
    </div>
  </div>
  <div class="sixteen wide column">
    <div class="ui two grid">
      <div class="right aligned four wide column">
        取餐地点：
      </div>
      <div class="left aligned twelve wide column">
       <%=address %>
      </div>
    </div>
  </div>
</div>
</div>
</div>  
<p id="orderMessage" class="ui small message">
  带饭大哥每天中午12:00~12:30会送餐到马大，请各位顾客老爷小姐注意<a href="#status">查看送餐状态</a>，准时取餐
</p>
