<div id="fullscreen">
	<img src="./img/map_lg.jpg">
</div>
<div class="ui segment">
	<div id="customerinfo" class="ui page centered grid">
		<div class="sixteen wide column">
			<div class="ui two grid">
				<div id="nameOnOrder" class="right aligned four wide column">
				</div>
				<div class="left aligned four wide column">
					<%=fname %>&nbsp
						<%=lname %>
				</div>
			</div>
		</div>
		<div class="sixteen wide column">
			<div class="ui two grid">
				<div id="confirmEmail" class="right aligned four wide column">
				</div>
				<div class="left aligned twelve wide column">
					<%=email %>
				</div>
			</div>
		</div>
		<div class="sixteen wide column">
			<div class="ui two grid">
				<div id="pickUpAddress" class="right aligned four wide column">
				</div>
				<div class="left aligned twelve wide column">
					<%=address %>
						<div class="notification">
							<span id="orderMessage"></span>
							<span><a id="statusTracker" href="#status"></a></span>
						</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui segment">
		<img id='smallmap' src="<%=mapUrl %>" />
	</div>
</div>