<div class="sixteen wide column">
  <div class="ui page centered grid ">
    <div class="twelve wide column">
      <p><strong class="thanks">
						您的订单已经受理，感谢您使用带饭大哥的服务!<br>订单号：#123456
					</strong>
      </p>
      <p>
        订单确认信息已经发送至xyz@gmail.com,
        <br>如果没有收到邮件，请保存此页作为取餐凭证！
      </p>
    </div>
    <div class="aligned right four wide column">
      <img class="check" src="img/check.png"></img>
    </div>
  </div>
</div>

<div class="ui segment">
  <div class="ui vertical segment">
    <h2 class="ui header small">您的订单如下：</h2>
    <div class="ui column grid summary-list">
      <div class="eight wide column"><span class="summary-name">川陕Combo</span>
      </div>
      <div class="four wide column right aligned"><span class="summary-count">1份</span>
      </div>
      <div class="four wide column right aligned"><span class="summary-price">$10.00</span>
      </div>
    </div>
  </div>
  <div class="ui vertical segment right aligned">
    <strong class="summary-total-label">合计：</strong><span class="summary-total">$10.00</span>
  </div>
</div>

<div class="ui segment">
 <div id="customerinfo" class="ui page centered grid">
  <div class="sixteen wide column">
    <div class="ui two grid">
      <div class="right aligned four wide column">
        取餐人：
      </div>
      <div class="left aligned four wide column">
        张三四
      </div>
    </div>
  </div>
  <div class="sixteen wide column">
    <div class="ui two grid">
      <div class="right aligned four wide column">
        E-mail：
      </div>
      <div class="left aligned four wide column">
        xyz@gmail.com
      </div>
    </div>
  </div>
  <div class="sixteen wide column">
    <div class="ui two grid">
      <div class="right aligned four wide column">
        信用卡信息：
      </div>
      <div class="left aligned twelve wide column">
        <div class="ui grid">
          <div class="column">
            xyz
          </div>
          <div class="twelve wide column">
            xxxx-xxxx-xxxx-1232
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sixteen wide column">
    <div class="ui two grid">
      <div class="right aligned four wide column">
        取餐地点：
      </div>
      <div class="left aligned twelve wide column">
        化学楼对面Garage一楼，Parking Lot B的Vistor Parking,靠近大M的电梯口
      </div>
    </div>
  </div>
</div>
</div>  
<p id="orderMessage" class="ui small message">
  带饭大哥每天中午12:30~1:00会送餐到马大，请各位顾客老爷小姐注意<a>查看送餐状态</a>，准时取餐
</p>