<div class="sixteen wide column">
  <div class="ui page centered grid ">
    <div class="twelve wide column">
      
      	<strong class="thanks" >
		<p id="thanks">您的订单已经受理，感谢您使用带饭大哥的服务!</p>
		<p><span id="orderId"></span><%=objectId %></p>
	  	</strong>
      <p><span id="confirmEmail"></span> <%=email %></p>
      <p id="ifNoEmail">如果没有收到邮件，请保存此页作为取餐凭证！</p>
      
    </div>
    <div class="aligned right four wide column">
      <img class="check" src="./img/check.png"></img>
    </div>
  </div>
</div>