<div class="ui card">
        <div class="image">
                <div id="<%=objectId %>-dimmer" class="ui dimmer">
                        <div class="dimmer-content">
                        <h2 class="ui inverted header">
                                Sold Out!
                        </h2>
                        <div class="ui inverted red basic button">I want more</div>
                        </div>
                </div>
                <img src="<%= Image_File.url%>" />
        </div>
        <div class="content">
                <div class="ui grid">
                        <div class="nine wide column dish-desc">
                                <% if(locale == "zh-cn"){%>
                                <%=Description %>
                                <%}%>
                                <% if(locale !== "zh-cn"){%>
                                <%=descriptionEn %>
                                <%}%>
                        </div>
                        <div class="seven wide column">
                                <div class="ui three column grid">
                                        <div class="column minus-btn-wrapper">
                                                <button class="minusone ui center aligned right floated button icon"><i class="minus icon"></i>
                                                </button>
                                        </div>
                                        <div class="column order-count-wrapper">
                                                <span class="dissph-counter ui center aligned label dish-count"><%=count %></span>
                                        </div>
                                        <div class="column plus-btn-wrapper">
                                                <button id="<%=objectId %>-plusButton" class="plusone ui button icon center aligned"><i class="plus icon"></i>
                                                </button>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <div id="<%=objectId %>">
            <div class="ui pointing secondary menu">
                <a class="active item" data-tab="first">Dish Detail</a>
                <a class="item" data-tab="second">Restaurant</a>
            </div>
            <div class="ui grid bottom attached active tab segment" data-tab="first">
                <div class="dishinfo six wide column">
                    <div class="ui list">
                        <div class="item">
                            <i class="wait icon"></i>
                            <div class="content">
                                    360 Cal
                            </div>
                        </div>
                        <div class="item">
                            <i class="leaf icon green"></i>
                            <div class="content">
                                    Vegetarian
                            </div>
                        </div>
                        <div class="item">
                            <i class="ban icon"></i>
                            <div class="content">
                                    Gluten Free
                            </div>
                        </div>
                        <div class="item">
                            <i class="fire icon red"></i>
                            <div class="content">
                                    Not spicy
                            </div>
                        </div>
                    </div>
                </div><!--end of dishinfo-->
                <div class="dish-detail ten wide column">
                    <div class="content">
                        <div class="dish-intro description">Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem</div>
                        <div class="dish-ingredients description">
                        <div class="header">Ingredients:</div>
                                Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem</div>
                    </div>
                </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="second">
                <div class="restaurantInfo ten wide column">
                    <div class="ui list">
                        <div class="item">
                            <i class="call icon"></i>
                            <div class="content">
                                xxx-xxx-xxxx
                            </div>
                        </div>
                        <div class="item">
                            <i class="browser icon green"></i>
                            <div class="content">
                                lunchbrother.com
                            </div>
                        </div>
                        <div class="item">
                            <i class="home icon green"></i>
                            <div class="content">
                                105 xxxx St, College Park, MD 20740
                            </div>
                        </div>
                    </div>
                </div><!--end of dishinfo-->
            </div>
        </div>
</div>
