<div class="column">
  <div class="ui card">
    <div class="image">
      <img src="img/combo.png" />
    </div>
    <div class="content">
      <div class="ui two column grid">
        <div class="column dish-desc">
          便当 - 尖椒肉丝，宫保鸡丁，番茄炒蛋，例汤
        </div>
        <div class="column">
          <div class="ui three column grid">
            <div class="column minus-btn-wrapper">
              <button class="ui center aligned right floated button icon"><i class="minus icon"></i>
              </button>
            </div>
            <div class="column order-count-wrapper"><span class="ui center aligned label dish-count">0</span>
            </div>
            <div class="column plus-btn-wrapper">
              <button class="ui button icon center aligned"><i class="plus icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>