<h1 id="dishTitle" class="ui small center aligned header">Today's Special</h1>

<div id="pickUpLocationWrapper" class="ui segment">
    <div id="basicinfo">
        <div class="ui fluid field">
            <div id="addressoption">
                <select id="addressdetails" name="address">
                    <option id="pickUpAddress" value="all">Select Operating Point</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div id="dishWrapper" class="ui grid">
    <div id="dishList" class="doubling two column row dishes">
        Loading...
    </div>
</div>
<div id="orderStats" class="ui segment">
</div>
<span id="timeAlert" class="ui yellow message" style="display:none"></span>
<p id="orderMessage" class="ui small message">
We are early now! We guarantee your lunch will arrive before 12:00PM, please track your lunch and pick it up on your schedule. (no later than 1:15PM :P)
</p>

    <button id="paymentBtn" class="ui red button-lg">
        <div class="visible content">
            Checkout
        </div>
    </button>
<div id="inventoryExceededAlert" class="ui small test modal">
    <div class="header" style="background-color: #ffffff" id="inventoryAlertTitle">
        Oops!
    </div>
    <div class="content">
        Sorry, someone has already placed the order before you, now the dish quantity is not enough for your order, please try other amounts or dishes.
    </div>
    <div class="actions">
        <div class="one fluid ui buttons">
            <div class="ui ok basic button">
                <i class="checkmark icon"></i>
                <label id="inventoryConfirm">OK</label>
            </div>
        </div>
    </div>
</div>

<!--ClickMeter.com page views tracking: Home Page -->
<script type='text/javascript'>
var ClickMeter_pixel_url = '//pixel.watch/akdb';
</script>
<script type='text/javascript' id='cmpixelscript' src='//s3.amazonaws.com/scripts-clickmeter-com/js/pixelNew.js'></script>
<noscript>
    <img height='0' width='0' alt='' src='http://pixel.watch/akdb' />
</noscript>
