<h1 id="dishTitle" class="ui small center aligned header">Today's Special</h1>

<div id="dishWrapper" class="ui grid">
  <div id="dishList" class="doubling two column row dishes">
    Loading...
  </div>
</div>
<div id="orderStats" class="ui segment">
</div>
<span id="timeAlert" class="ui yellow message" style="display:none"></span>
<p id="orderMessage" class="ui small message">
We are early now! We guarantee your lunch will be delivered to UMD before 12:00PM, please track your lunch and pick it up on your schedule. (no later than 1:15PM :P)
</p>
<button id="paymentBtn" class="center aligned ui red button">Check Out</button>
<div id="inventoryExceededAlert" class="ui small test modal">
    <div class="header" style="background-color: #ffffff" id="inventoryAlertTitle">
        Oops!
    </div>
    <div class="content">
        Sorry, someone has already placed the order before you, now the dish quantity is not enough for your order, please try other amounts or dishes.
    </div>
    <div class="actions">
        <div class="one fluid ui buttons">
            <div class="ui ok basic button">
                <i class="checkmark icon"></i>
                <label id="inventoryConfirm">OK</label>
            </div>
        </div>
    </div>
</div>