<div class="row">
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="first">7/7</a>
        <a class="item" data-tab="second">7/8</a>
        <a class="item" data-tab="third">7/9</a>
    </div>
    <div class="ui grid active tab" data-tab="first">
        <div class="doubling two column row dishes">
            <div class="column">
                <div class="ui weekly card">
                    <div class="image">
                        <img src="http://www.seattleorganicrestaurants.com/vegan-whole-foods/images/Food-Guidelines.jpg">
                    </div>
                    <div class="content">
                        <div class="ui grid">
                            <div class="ten wide column dish-desc">
                                <h5 class="ui sub header"> dish name
                                    <div class="sub header">$10.99</div>
                                </h5>
                            </div>

                            <div class="rs-name six wide right aligned column">
                                Restaurant ABC
                            </div>
                        </div>
                    </div>
                    <div class="ui extra content horizontal segments">
                        <div class="ui segment">
                            <span class="left floated">
                                <div class="content">
                                    <i class="wait icon"></i>
                                    300 Cal
                                </div>
                            </span>
                        </div>
                        <div class="ui segment">
                            <span class="left floated">
                                <div class="content">
                                    <i class="leaf icon green"></i>
                                    Vegetarian
                                </div>
                            </span>
                        </div>
                        <div class="ui segment">
                            <span class="left floated">
                                <div class="content">
                                    <i class="ban icon"></i>
                                    No Gluten
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui weekly card">
                    <div class="image">
                        <img src="http://www.seattleorganicrestaurants.com/vegan-whole-foods/images/Food-Guidelines.jpg">
                    </div>
                    <div class="content">
                        <div class="ui grid">
                            <div class="ten wide column dish-desc">
                                <h5 class="ui sub header"> dish name
                                    <div class="sub header">$10.99</div>
                                </h5>
                            </div>

                            <div class="rs-name six wide right aligned column">
                                Restaurant ABC
                            </div>
                        </div>
                    </div>
                    <div class="ui extra content horizontal segments">
                        <div class="ui segment">
                            <span class="left floated">
                                <div class="content">
                                    <i class="wait icon"></i>
                                    300 Cal
                                </div>
                            </span>
                        </div>
                        <div class="ui segment">
                            <span class="left floated">
                                <div class="content">
                                    <i class="leaf icon green"></i>
                                    Vegetarian
                                </div>
                            </span>
                        </div>
                        <div class="ui segment">
                            <span class="left floated">
                                <div class="content">
                                    <i class="ban icon"></i>
                                    No Gluten
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="ui grid active tab" data-tab="second">
        <div class="doubling two column row dishes">
            <div class="column">
                <div class="ui weekly card">
                    <div class="image">
                        <img src="http://www.seattleorganicrestaurants.com/vegan-whole-foods/images/Food-Guidelines.jpg">
                    </div>
                    <div class="content">
                        <div class="ui grid">
                            <div class="ten wide column dish-desc">
                                <h5 class="ui sub header"> dish name
                                    <div class="sub header">$10.99</div>
                                </h5>
                            </div>

                            <div class="rs-name six wide right aligned column">
                                Restaurant ABC
                            </div>
                        </div>
                    </div>
                    <div class="ui extra content horizontal segments">
                        <div class="ui segment">
                            <span class="left floated">
                                <div class="content">
                                    <i class="wait icon"></i>
                                    300 Cal
                                </div>
                            </span>
                        </div>
                        <div class="ui segment">
                            <span class="left floated">
                                <div class="content">
                                    <i class="leaf icon green"></i>
                                    Vegetarian
                                </div>
                            </span>
                        </div>
                        <div class="ui segment">
                            <span class="left floated">
                                <div class="content">
                                    <i class="ban icon"></i>
                                    No Gluten
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui weekly card">
                    <div class="image">
                        <img src="http://www.seattleorganicrestaurants.com/vegan-whole-foods/images/Food-Guidelines.jpg">
                    </div>
                    <div class="content">
                        <div class="ui grid">
                            <div class="ten wide column dish-desc">
                                <h5 class="ui sub header"> dish name
                                    <div class="sub header">$10.99</div>
                                </h5>
                            </div>

                            <div class="rs-name six wide right aligned column">
                                Restaurant ABC
                            </div>
                        </div>
                    </div>
                    <div class="ui extra content horizontal segments">
                        <div class="ui segment">
                            <span class="left floated">
                                <div class="content">
                                    <i class="wait icon"></i>
                                    300 Cal
                                </div>
                            </span>
                        </div>
                        <div class="ui segment">
                            <span class="left floated">
                                <div class="content">
                                    <i class="leaf icon green"></i>
                                    Vegetarian
                                </div>
                            </span>
                        </div>
                        <div class="ui segment">
                            <span class="left floated">
                                <div class="content">
                                    <i class="ban icon"></i>
                                    No Gluten
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="ui grid active tab" data-tab="third">
        <div class="doubling two column row dishes">
            <div class="column">
                <div class="ui weekly card">
                    <div class="image">
                        <img src="http://www.seattleorganicrestaurants.com/vegan-whole-foods/images/Food-Guidelines.jpg">
                    </div>
                    <div class="content">
                        <div class="ui grid">
                            <div class="ten wide column dish-desc">
                                <h5 class="ui sub header"> dish name
                                    <div class="sub header">$10.99</div>
                                </h5>
                            </div>

                            <div class="rs-name six wide right aligned column">
                                Restaurant ABC
                            </div>
                        </div>
                    </div>
                    <div class="ui extra content horizontal segments">
                        <div class="ui segment">
                            <span class="left floated">
                                <div class="content">
                                    <i class="wait icon"></i>
                                    300 Cal
                                </div>
                            </span>
                        </div>
                        <div class="ui segment">
                            <span class="left floated">
                                <div class="content">
                                    <i class="leaf icon green"></i>
                                    Vegetarian
                                </div>
                            </span>
                        </div>
                        <div class="ui segment">
                            <span class="left floated">
                                <div class="content">
                                    <i class="ban icon"></i>
                                    No Gluten
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui divider hidden"></div>
    <button class="center aligned ui red button">Sign up and try!</button>
</div>