<h1 class="ui small center aligned header">今日送餐概况</h1>

<div class="ui segment">
    <div class="ui vertical segment">
        <div class="ui column grid summary-list">
            <div class="four wide column"><span class="summary-location">化学楼</span>
            </div>
            <div class="four wide column"><span class="summary-location">A餐:8</span>
            </div>
            <div class="four wide column"><span class="summary-location">金额: $20.00</span>
            </div>
            <div class="four wide column right aligned"><span class="summary-status">正在路上...</span>
            </div>
        </div>
    </div>
</div>
<div class="ui vertical segment">
    <div class="ui column grid summary-list">
        <div class="eight wide column"><span class="summary-location">商学院</span></span>
        </div>
        <div class="eight wide column right aligned"><span class="summary-status">正在路上...</span>
        </div>
    </div>
</div>
<div class="ui vertical segment">
    <div class="ui column grid summary-list">
        <div class="eight wide column"><span class="summary-location">GWU</span></span>
        </div>
        <div class="eight wide column right aligned"><span class="summary-status">已经到达！</span>
        </div>
    </div>
</div>
</div>