<h3 class="ui center aligned header">今日送餐概况</h3>

<div class="ui segment">
	<div class="ui vertical segment">
		<a class="delivery-order" href="">
			<div class="ui column grid summary-list">
				<div class="four wide right aligned column"><span class="summary-location">化学楼:</span>
				</div>
				<div class="five wide column right aligned"><span class="summary-status">A餐:&nbsp1,&nbspB餐:&nbsp2</span>
				</div>
				<div class="five wide column right aligned"><span class="summary-status">金额:&nbsp$30.00</span>
				</div>
				<div class="two wide column right aligned"><span class="summary-status"><i class="angle red right icon"></i></span>
				</div>
			</div>
		</a>
	</div>

	<div class="ui vertical segment">
		<a class="delivery-order" href="">
			<div class="ui column grid summary-list">
				<div class="four wide right aligned column"><span class="summary-location">GWU:</span>
				</div>
				<div class="five wide column right aligned"><span class="summary-status">A餐:&nbsp1,&nbspB餐:&nbsp2</span>
				</div>
				<div class="five wide column right aligned"><span class="summary-status">金额:&nbsp$30.00</span>
				</div>
				<div class="two wide column right aligned"><span class="summary-status"><i class="angle red right icon"></i></span>
				</div>
			</div>
		</a>
	</div>

	<div class="summary-order ui vertical segment">
		<a href="">
			<div class="ui column grid summary-list">
				<div class="four wide right aligned column"><span class="summary-location">商学院:</span>
				</div>
				<div class="five wide column right aligned"><span class="summary-status">A餐:&nbsp1,&nbspB餐:&nbsp2</span>
				</div>
				<div class="five wide column right aligned"><span class="summary-status">金额:&nbsp$30.00</span>
				</div>
				<div class="two wide column right aligned"><span class="summary-status"><i class="angle red right icon"></i></span>
				</div>
			</div>
		</a>
	</div>

	<div class="summary-total ui vertical segment">

		<div class="ui column grid summary-list">
			<div class="four wide right aligned column"><span class="summary-location">总计:</span>
			</div>
			<div class="five wide column right aligned"><span class="summary-status">A餐:&nbsp<span class="red">3</span>,&nbspB餐:&nbsp<span class="red">6</span></span>
			</div>
			<div class="five wide column right aligned"><span class="summary-status">金额:&nbsp<span class="red">$90.00</span></span>
			</div>

		</div>

	</div>

</div>
<div class="ui divider"></div>
<div class="gray left aligned sixteen wide column">
	注：A餐为当日便当，B餐为凉皮+肉夹馍
</div>

<!-- login -->

<h3 class="ui center aligned header">大哥， 请登录您的账户！</h3>
<div class="ui hidden divider"></div>
<div class="ui centered grid">
	<div class="ten wide column">
		<div class="ui form">
			<div class="two fields">
				<div class="required sixteen wide field">
					<div class="ui icon input">
						<input type="text" placeholder="请输入账号...">
						<i class="user icon"></i>
					</div>
				</div>
				<div class="ui hidden divider"></div>
				<div class="required sixteen wide field">
					<div class="ui icon input">
						<input type="password" placeholder="请输入密码...">
						<i class="lock icon"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="ui hidden divider"></div>
		<button id="orderBtn" class="center aligned ui red button"><i class="sign in icon"></i>登&nbsp录</button>
	</div>
</div>