<div class="ui segment">
  <div class="ui vertical segment">
    <h2 class="ui header small">您的订单如下：</h2>
    <div class="ui column grid summary-list">
      <div class="eight wide column"><span class="summary-name">川陕Combo</span>
      </div>
      <div class="four wide column right aligned"><span class="summary-count">1份</span>
      </div>
      <div class="four wide column right aligned"><span class="summary-price">$10.00</span>
      </div>
    </div>
  </div>
  <div class="ui vertical segment right aligned">
    <strong class="summary-total-label">合计：</strong><span class="summary-total">$10.00</span>
  </div>
</div>

<button id="orderBtn" class="center aligned ui red button">确定下单</button>