<div class="ui segment">
  <div class="ui vertical segment">
    <h2 class="ui header small">您的订单如下：</h2>
    <div class="ui column grid summary-list">
      <div class="eight wide column"><span class="summary-name">川陕Combo</span>
      </div>
      <div class="four wide column right aligned"><span class="summary-count">1份</span>
      </div>
      <div class="four wide column right aligned"><span class="summary-price">$10.00</span>
      </div>
    </div>
  </div>
  <div class="ui vertical segment right aligned">
    <strong class="summary-total-label">合计：</strong><span class="summary-total">$10.00</span>
  </div>
</div>
<div class="ui segment">
  <div id ="payment" class="ui form">
  <div id="contactinfo" class="field">
    <div class="sixteen wide field">
      <input class="ui fluid input" placeholder="取餐人姓名" type="text">
      <input class="ui fluid input" placeholder="E-mail" type="text">
    </div>
  </div>
  <div id="addressoption" class="ui selection dropdown">
    <input type="hidden" name="address">
    <i class="dropdown icon"></i>
    <div class="default">选择取餐地址</div>
    <div class="menu">
      <div class="item" data-value="CP">College Park,MD</div>
      <div class="item" data-value="SG">Shady Grove,MD</div>
    </div>
  </div>
  <div class="ui divider"></div>
    <div id="cardinfo" class="field">
    <p>请输入您的信用卡信息：</p>
    <div class="sixteen wide field">
      <input class="ui fluid input" placeholder="持卡人姓名" type="text">
      <input class="ui fluid input" placeholder="卡号" type="text">
    </div>
  </div>
    <div class="two fields">
      <div class="field">
        <p>过期日期：</p>
        <!--<div class="two wide field">-->
          <div id="expmonth" class="ui selection dropdown">
            <input type="hidden" name="expmonth">
              <i class="dropdown icon"></i>
                <div class="default">01</div>
                  <div class="menu">
                      <div class="item" data-value="02">02</div>
                      <div class="item" data-value="03">03</div>
                      <div class="item" data-value="04">04</div>
                      <div class="item" data-value="05">05</div>
                      <div class="item" data-value="06">06</div>
                      <div class="item" data-value="07">07</div>
                      <div class="item" data-value="08">08</div>
                      <div class="item" data-value="09">09</div>
                      <div class="item" data-value="10">10</div>
                      <div class="item" data-value="11">11</div>
                      <div class="item" data-value="12">12</div>
                </div>
          </div>
        <!--</div>-->
        <!--<div class="field">-->
      <div id="expyear" class="ui selection dropdown">
        <input type="hidden" name="expyear">
        <i class="dropdown icon"></i>
        <div class="default">2015</div>
        <div class="menu">
          <div class="item" data-value="02">2016</div>
          <div class="item" data-value="03">2017</div>
          <div class="item" data-value="04">2018</div>
          <div class="item" data-value="05">2019</div>
          <div class="item" data-value="06">2020</div>
        </div>
      </div>
    </div>
      <div class="field" id="cw2">
      <p>CW2验证码:</p>
      <input type="text" class="ui mini input">
    </div>
    </div>
    <div class="required inline field">
    <div class="ui checkbox">
      <input type="checkbox">
      <label>我同意带饭大哥使用协议和条款</label>
    </div>
  </div>
    <div class="inline field">
    <div class="ui checkbox">
      <input type="checkbox">
      <label>记住这张卡的信息，方便下次支付</label>
    </div>
  </div>
</div>
</div>
<a href="#confirm" id="orderBtn" class="center aligned ui red button">确定买单</button>
