<h1 class="ui small center aligned header">大哥到哪儿了？</h1>

<div class="ui segment">
	<div class="ui vertical segment">
		<div class="ui column grid summary-list">
			<div class="six wide column"><span class="summary-location">Regents Drive Parking Garage</span>
			</div>
			<div class="six wide column"><span class="summary-contact">联系人：小鱼 (724-510-8760)</span>
			</div>
			<div class="four wide column right aligned"><span id="status1" class="summary-status red">已经到达！</span>
			</div>
		</div>
	</div>
	<div class="ui vertical segment">
		<div class="ui column grid summary-list">
			<div class="six wide column"><span class="summary-location">Van Munching</span>
			</div>
			<div class="six wide column"><span class="summary-contact">联系人：Rachel (301-312-4798)</span>
			</div>
			<div class="four wide column right aligned"><span id="status2" class="summary-status red">已经到达！</span>
			</div>

		</div>
	</div>
	<!--  <div class="ui vertical segment">-->
	<!--    <div class="ui column grid summary-list">-->
	<!--      <div class="eight wide column"><span class="summary-location">GWU</span>-->
	<!--      </div>-->
	<!--      <div class="eight wide column right aligned"><span class="summary-status">已经到达！</span>-->
	<!--      </div>-->
	<!--    </div>-->
	<!--  </div>-->
	<!--</div>    -->
